@font-face {
  font-family: 'ApercuBold';
  src: url(../fonts/ApercuBold.eot);
  src: url(../fonts/ApercuBold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/ApercuBold.woff) format("woff"),
  url(../fonts/ApercuBold.ttf) format("truetype"),
  url(../fonts/ApercuBold.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuMedium';
  src: url(../fonts/ApercuMedium.eot);
  src: url(../fonts/ApercuMedium.eot?#iefix) format("embedded-opentype"),
  url(../fonts/ApercuMedium.woff) format("woff"),
  url(../fonts/ApercuMedium.ttf) format("truetype"),
  url(../fonts/ApercuMedium.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuRegular';
  src: url(../fonts/ApercuRegular.eot);
  src: url(../fonts/ApercuRegular.eot?#iefix) format("embedded-opentype"),
  url(../fonts/ApercuRegular.woff) format("woff"),
  url(../fonts/ApercuRegular.ttf) format("truetype"),
  url(../fonts/ApercuRegular.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonostenA';
  src: url(../fonts/Monosten-A-webfont.eot);
  src: url(../fonts/Monosten-A-webfont.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Monosten-A-webfont.woff) format("woff"),
  url(../fonts/Monosten-A-webfont.ttf) format("truetype"),
  url(../fonts/Monosten-A-webfont.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Reader';
  src: url(../fonts/Reader.eot);
  src: url(../fonts/Reader.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Reader.woff) format("woff"),
  url(../fonts/Reader.ttf) format("truetype"),
  url(../fonts/Reader.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Reader-Medium';
  src: url(../fonts/Reader-Medium.eot);
  src: url(../fonts/Reader-Medium.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Reader-Medium.woff) format("woff"),
  url(../fonts/Reader-Medium.ttf) format("truetype"),
  url(../fonts/Reader-Medium.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

