//*************************** header

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  line-height: 70px;
  min-height: 150px;
  //background: #fff;
  z-index: 2;
  font-family: $ApercuRegular;

  ._blue & {
    //background: #007fff;
  }

  @include respond-to-max($resp_step_2) {
    display: none;

    .slide:first-child & {
      display: block;
    }
  }

  @include respond-to-min($resp_step_2) {
    line-height: 100px;
    min-height: 215px;
  }
}

.header_menu {
  @extend %clearfix;
  float: left;

  li {
    float: left;
    padding-right: 35px;

    @include respond-to-max($resp_step_2) {
      float: right;
      padding: 0;

      &:first-child {
        float: left;
      }

      .gl_link {
        color: #007fff;
      }

    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  .gl_link {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
}

.fb_iframe_widget {
  line-height: 1;
  display: inline-block !important;
  vertical-align: middle;
}

.menu_icon {
  img {
    display: block;
    width: 18px;
    margin: 0 6px 0 7px;
  }
}

.logo_block {
  @extend %clearfix;
  clear: both;

  @include respond-to-max($resp_step_2) {
    padding-top: 25px;
  }
}

.logo {
  float: left;
  font: 28px/1 $MonostenA;
  color: $default_t_color;

  @include respond-to-min($resp_step_2) {
    font-size: 40px;
    line-height: 1.3;
  }

  .works_slide &,
  ._blue & {
    color: #fff;
  }

  .checklist & {
    font-size: 20px;
  }
}

.nav {
  float: right;

  li {
    float: left;
    padding-left: 20px;
  }

  .gl_link {
    font: 14px $ApercuMedium;
    color: #fff;
  }

  @include respond-to-max($resp_step_2) {
    .checklist & {
      line-height: normal;
    }
  }
}

// *********  menu

.main_menu {
}

.menu_item {
  float: left;
  margin: 0 17px;
}

.menu_link {
  cursor: pointer;
  position: relative;
  display: block;
  padding-left: 32px;
  text-decoration: none;

}

