html, body {
  height: 100%;
}

html {
  overflow-y: scroll;

  @include respond-to-min($resp_step_2) {
    overflow: hidden;
  }
}

body {
  font: 14px/1.2 $Reader;
  color: $default_t_color;

  b {
    font-family: $ReaderMedium;
  }
}

.hide {
  display: none !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.slide {
  position: relative;
  //padding-top: 182px;
  //padding-bottom: 120px;

  background: #fff;
  overflow-x: hidden;

  @include respond-to-min($resp_step_2) {
    min-height: 100vh;
    overflow-y: scroll;
  }

  &._blue {
    background: #007fff;
    color: #fff;
  }

  &.works_slide {
    color: #fff;
  }

  .mCSB_container {
    min-height: 100%;
    position: relative;
  }

  .mcsb_table {
    .mCSB_container {
      height: 100%;
      width: 100%;
      display: table;
    }
  }

  @include respond-to-min($resp_step_2) {
    //opacity: 0;
    //padding-top: 215px;
    height: 100vh;
  }
}

.main_content {
  position: relative;
  padding: 45px 0 30px;
  min-height: 100%;
  overflow: hidden;

  .slide:first-child & {
    padding-top: 202px;
  }

  &.mCustomScrollbar {
    padding: 0;
  }

  &.mcsb_table {
    height: 100%;
    width: 100%;
    display: table;
  }

  .mCSB_container {
    padding: 200px 0 120px;
  }

  @include respond-to-min($resp_step_2) {
    //position: absolute;
    //overflow-y: auto;
    padding-top: 220px;
    padding-bottom: 105px;
    //top: 0;
    //bottom: 0;
    //right: 0;
    //left: 0;

    &.mCustomScrollbar {
      padding: 0;
    }

    .mCSB_container {
      padding-top: 220px;
    }
  }

  .next_project_loader & {
    padding: 35px 0 0;
    min-height: 0;
  }
}

.slick-track {
  @extend %clearfix;
}

.slick-slide {
  float: left;
}

.section_inner {
  @extend %clearfix;
  width: 100%;
  max-width: $content-max-w;
  margin: 0 auto;
  padding: 0 25px;
  position: relative;
  z-index: 1;

  &.work_block {

    @include respond-to-max($resp_step_2) {
      padding-top: 10px;
    }

    p {
      font-size: 12px;
      margin-top: 20px;
      margin-bottom: 20px;

      @include respond-to-min($resp_step_2) {
        font-size: 16px;
        margin-top: 28px;
      }
    }

    @include respond-to-min($resp_step_2) {
      padding-top: 18px;
    }

    @include respond-to-min($resp_step_3) {
      padding-bottom: 100px;
      padding-top: 0;
    }
  }

  .works_slide & {

    @include respond-to-min($resp_step_2) {
      padding: 0 80px;
    }

    @include respond-to-min($resp_step_4) {
      padding: 0 25px;
    }
  }
}

.gl_table {
  display: table;
  width: 100%;
  min-height: 100%;
}

.gl_table_cell {
  display: table-cell;
  vertical-align: middle;
  min-height: 100%;
}

.work_caption {
  font: 24px/1.2 $Reader;
  text-align: center;
  margin-bottom: 50px;

  @include respond-to-min($resp_step_2) {
    font-size: 34px;
    margin-bottom: 50px;
  }

  @include respond-to-min($resp_step_3) {
    font-size: 32px;
    margin-bottom: 60px;
  }

  @include respond-to-min($resp_step_4) {
    font-size: 40px;
    margin-bottom: 45px;
  }
}

.project_caption {
  font: 20px/1.2 $Reader;
  margin-top: 10px;
  margin-bottom: 15px;
  display: block;

  @include respond-to-max($resp_step_2) {
    b {
      font-family: $Reader;
    }
  }

  @include respond-to-min($resp_step_2) {
    font-size: 31px;
    margin-top: 5px;
    margin-bottom: 35px;
  }

  @include respond-to-min($resp_step_4) {
    font-size: 34px;
    margin-bottom: 25px;
  }

  .next_project_loader & {
    color: #fff;
  }
}

.section_caption {
  font-size: 20px;
  margin-bottom: 50px;

  @include respond-to-min($resp_step_2) {
    font-size: 31px;
    margin-bottom: 45px;
  }

  @include respond-to-min($resp_step_3) {
    margin-bottom: 47px;
  }

  @include respond-to-min($resp_step_4) {
    font-size: 34px;
  }
}

.feature_list {

  li {
    margin-bottom: 20px;

    @include respond-to-min($resp_step_2) {
      margin-bottom: 17px;
      max-width: 620px;
    }

    @include respond-to-min($resp_step_3) {
      margin-bottom: 30px;
      max-width: 780px;
    }

    @include respond-to-min($resp_step_4) {
      margin-bottom: 32px;
      max-width: none;
    }
  }
}

.feature_item {
  font-size: 15px;
  //letter-spacing: .01em;

  @include respond-to-max($resp_step_2) {
    line-height: 1.35;
  }

  @include respond-to-min($resp_step_2) {
    font-size: 16px;
  }

  @include respond-to-min($resp_step_3) {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .058em;
    //letter-spacing: .06em;
  }

  @include respond-to-min($resp_step_4) {
    font-size: 18px;
    line-height: 1.2;
    //letter-spacing: .01em;
  }

}

.feature_caption {
  color: #007fff;
  font: 10px $ApercuBold;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: .12em;

  @include respond-to-min($resp_step_2) {
    margin-bottom: 14px;
  }

  @include respond-to-min($resp_step_3) {
    font-size: 11px;
    margin-bottom: 9px;
  }

  @include respond-to-min($resp_step_4) {
    margin-bottom: 13px;
  }
}

._tech_stack {
  //font: 16px/1.3 $ReaderMedium;
  font-size: 16px;
  line-height: 1.3;

  @include respond-to-min($resp_step_2) {

  }

  @include respond-to-min($resp_step_4) {
    font-size: 18px;
  }
}

.project_tags {
  @extend %clearfix;

  li {
    float: left;
    margin-bottom: 15px;
    padding-right: 15px;
  }

  @include respond-to-max($resp_step_2) {
    display: none;
  }
}

.project_url {
  padding: 17px 0;
  font: 18px $ApercuRegular;

  @include respond-to-max($resp_step_2) {
    display: none;
  }
}

.project_block {
  margin: 0 -15px;

  @include respond-to-min($resp_step_2) {
    margin: 0 -70px;
  }

  @include respond-to-min($resp_step_3) {
    margin: 0 -78px;
  }

  @include respond-to-min($resp_step_4) {
    margin: 0 -48px;
  }
}

.project_main_img {
  display: block;
  text-align: center;
  padding-top: 15px;

  @include respond-to-min($resp_step_2) {
    padding-top: 30px;
  }

  @include respond-to-min($resp_step_3) {
    padding-top: 32px;
  }

}

%browser_btn {
  position: absolute;
  border-radius: 100%;
  width: 5px;
  height: 5px;

  @include respond-to-min($resp_step_2) {
    width: 8px;
    height: 8px;
  }

  @include respond-to-min($resp_step_3) {
    width: 10px;
    height: 10px;
  }

  @include respond-to-min($resp_step_4) {
    width: 12px;
    height: 12px;
  }
}

.browser {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-top: 14px;
  margin-bottom: 54px;

  @include respond-to-min($resp_step_2) {
    padding-top: 20px;
  }

  @include respond-to-min($resp_step_3) {
    padding-top: 25px;
  }

  @include respond-to-min($resp_step_4) {
    padding-top: 30px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 14px;
    background: #4a4a4a;
    border-radius: 5px 5px 0 0;

    @include respond-to-min($resp_step_2) {
      height: 20px;
    }

    @include respond-to-min($resp_step_3) {
      height: 25px;
    }

    @include respond-to-min($resp_step_4) {
      height: 30px;
    }
  }

  span {
    @extend %browser_btn;
    background: #ffc12e;
    top: 5px;
    left: 12px;

    @include respond-to-min($resp_step_2) {
      top: 6px;
      left: 20px;
    }

    @include respond-to-min($resp_step_3) {
      top: 7px;
      left: 25px;
    }

    @include respond-to-min($resp_step_4) {
      top: 9px;
      left: 30px;
    }

    &:after,
    &:before {
      @extend %browser_btn;
      content: '';
      top: 0;
    }

    &:before {
      left: -8px;
      background: #ff6057;

      @include respond-to-min($resp_step_2) {
        left: -15px;
      }

      @include respond-to-min($resp_step_3) {
        left: -20px;
      }

      @include respond-to-min($resp_step_4) {
        left: -23px;
      }
    }

    &:after {
      right: -8px;
      background: #28ca40;

      @include respond-to-min($resp_step_2) {
        right: -15px;
      }

      @include respond-to-min($resp_step_3) {
        right: -20px;
      }

      @include respond-to-min($resp_step_4) {
        right: -23px;
      }
    }
  }

  @include respond-to-min($resp_step_2) {
    margin-bottom: 100px;
  }

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    box-shadow: 0 18px 28px 0 rgba(0, 0, 0, 0.50);
  }

  .next_project_loader & {
    margin-bottom: 0;
  }
}

.next_project_tip {
  color: #fff;
  font: 11px $ApercuMedium;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.next_project_loader {
  position: relative;
  z-index: 3;

  @include respond-to-min($resp_step_2) {
    height: 0;
  }

  .main_content {
    @include transition_all(margin .7s);
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.30);

    &:after {
      display: none !important;
    }

    &.show_up {
      //@include transform_translate(0, -33%);
    }
  }

  .section_inner {

    &.next_loaded {
      //opacity: 1;
    }
  }
}

.project_previews {
  @extend %clearfix;
  margin-left: -50px;
  position: relative;

  li {
    float: left;
    width: 50%;
    padding-left: 50px;
    margin-bottom: 34px;
  }

  &.loaded li {
    //position: absolute;
  }

  @include respond-to-max($resp_step_2) {
    display: none;
  }

  @include respond-to-min($resp_step_2) {
    //padding: 0 50px;
  }

  @include respond-to-min($resp_step_3) {
    margin-right: -1%;
    //padding: 0;

    li {
      width: 33%;
    }
  }

  li._full {
    width: 100%;
  }
}

.project_previews_holder {
  display: block;
  margin: 0 auto;

  @include respond-to-min($resp_step_2) {
    max-width: 85%;
  }

  @include respond-to-min($resp_step_3) {
    max-width: none;
  }
}

.project_preview {
  cursor: pointer;

  img {
    display: block;
    max-width: 100%;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .4);
  }
}

.other_projects {

  p {
    color: #fff;
    font: 14px $ApercuMedium;
    margin-bottom: 10px;

    @include respond-to-min($resp_step_2) {
      margin-bottom: 18px;
    }

    @include respond-to-min($resp_step_3) {
      margin-bottom: 10px;
    }
  }

  ul {

    li {
      margin-bottom: 11px;
      font-size: 20px;
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include respond-to-min($resp_step_2) {
        font-size: 31px;
        margin-bottom: 23px;
      }

      @include respond-to-min($resp_step_3) {
        font-size: 40px;
        margin-bottom: 11px;
      }
    }
  }

  @include respond-to-min($resp_step_2) {
    padding-top: 67px;
  }

  @include respond-to-min($resp_step_3) {
    padding: 117px 0 35px;
  }
}

.gl_link {
  @include transition_all(color .3s);
  color: $default_t_color;
  text-decoration: none;

  &:hover {
    color: #007fff;

    .works_slide &,
    ._blue & {
      color: $default_t_color;
    }
  }
}

._clr_red {
  color: #fe2224;
}

._clr_blue {
  color: #007fff;

  &.gl_link {
    &:hover {
      color: $default_t_color;
    }
  }
}

._clr_white {
  color: #fff;

  &.gl_link {
    &:hover {
      color: $default_t_color;
    }
  }
}

// **********  text

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}
