@mixin transform_rotate($deg : 0) {
  -webkit-transform: rotate($deg+deg);
  -ms-transform: rotate($deg+deg);
  transform: rotate($deg+deg);
}

.main_content.content_blue {
  background: rgb(54, 193, 216);
  background: -moz-linear-gradient(45deg, rgba(54, 193, 216, 1) 0%, rgba(23, 170, 228, 1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(54, 193, 216, 1) 0%, rgba(23, 170, 228, 1) 100%);
  background: linear-gradient(45deg, rgba(54, 193, 216, 1) 0%, rgba(23, 170, 228, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36c1d8', endColorstr='#17aae4', GradientType=1);

  .chrome & {
    background: #17aae4;

    &:after,
    &:before {
      content: '';
      position: absolute;
    }

    $b_size: 9400px;

    &:before {
      @include transform_rotate(-19);
      left: -(100 + ($b_size / 2));
      top: -(2000px + $b_size / 2);
      height: $b_size;
      width: $b_size;
      //background-image: radial-gradient(-2% 26%, #0ca7e3 0%, rgba(255, 255, 255, 0.00) 99%);

      background: -moz-radial-gradient(center, ellipse cover, rgba(12, 167, 227, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(12, 167, 227, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
      background: radial-gradient(ellipse at center, rgba(12, 167, 227, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0ca7e3', endColorstr='#00ffffff', GradientType=1);
    }

    $a_size: 6300px;

    &:after {
      @include transform_rotate(19);
      width: $a_size;
      height: $a_size;
      left: -(100 + ($a_size / 2));
      bottom: -(1200px + $a_size / 2);
      //background: -moz-radial-gradient(center, ellipse cover, rgba(27, 198, 212, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
      //background: -webkit-radial-gradient(center, ellipse cover, rgba(27, 198, 212, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
      //background: radial-gradient(ellipse at center, rgba(27, 198, 212, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
      //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc1bc6d4', endColorstr='#00ffffff', GradientType=1);

      background: -moz-radial-gradient(center, ellipse cover, rgba(27, 198, 212, 0.8) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(27, 198, 212, 0.8) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
      background: radial-gradient(ellipse at center, rgba(27, 198, 212, 0.8) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc1bc6d4', endColorstr='#00ffffff', GradientType=1);
    }
  }

}
